# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
*.db
*.sqlite

# Logs
*.log

# Environments
.venv/
venv/
ENV/
env/

# IDE files
.vscode/
.idea/

__pycache__/
*.pyc
inventory.db
inventory.log
